:root {
    --primary-color: #0A0A0A;
    --secondary-color: #343434;
    --white-color: #fff;
    --neutral-white-color: #C7C7C7;
    --yellow-color: #FFCC26;
    --orange-color: #E45826;
    --gray-color: #1A1A1A;
    --gap: 3rem;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.05rem;
}

h3 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    line-height: 1.2;

}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 2.5rem;
}

p {
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.highlight-yellow {
    color: var(--yellow-color);
}

.highlight-orange {
    color: var(--orange-color);
}

/* Layout */
.section {
    min-height: 100vh;
}

.main-bg {
    background-color: var(--primary-color);
    color: var(--white-color);
    background-position: center center;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

/* Menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(26, 26, 26, 0.85); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(5px);
}

.menu-content {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--neutral-white-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: inline-block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--neutral-white-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.3rem;
    background: var(--yellow-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu a:hover {
    color: var(--white-color);
    transform: scale(1.05);
}

.menu-spacing {
    height: 6.5rem;
}

/* Buttons */
.contact-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-btn button {
    padding: 1rem 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: inherit;
    background: var(--yellow-color);
    border: 0;
    border-radius: 3rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contact-btn button:hover {
    box-shadow: 0 0 0.8rem var(--yellow-color);
    transform: scale(1.05);
}

.contact-btn a i {
    font-size: 3.5rem;
    padding: 1rem;
    color: var(--white-color);
}

.contact-btn a i:hover {
    transform: scale(1.2);
}

/* Home */
.home-content {
    display: grid;
    grid-template-columns: 1.5fr 1.2fr;
    gap: var(--gap);
    min-height: 100vh;
}

.home-text-content, .home-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-img img {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
    box-shadow: 0 0 10px 7px rgba(255, 204, 38, 0.6);
    margin: 20px;
    padding: 1px;
}

.home-img .slide-in {
    animation: slideIn 1s ease-out, float 2s ease-in-out infinite;
    animation-delay: 0s, 1s;
}

/* Projects */
.projects-content {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
}

.project-main-heading {
    margin-bottom: 10rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.project {
    background-color: rgba(34, 34, 34, 0.8);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 0.8rem var(--yellow-color);
}

.project i {
    font-size: 4rem;
    color: var(--yellow-color);
    margin-bottom: 1.5rem;
}

.project h4 {
    font-size: 2rem;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.project p {
    font-size: 1.5rem;
    color: var(--neutral-white-color);
    margin-top: 1rem;
}

/* Skills Section */

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--gap);
}

.skills-heading {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: var(--gap);
    width: 100%;
    max-width: 80rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 0.8rem var(--yellow-color);
}

.skill i {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.python-icon {
    color: #306998; /* Cor do Python */
}

.java-icon {
    color: crimson; /* Cor do Java */
}

.js-icon {
    color: #F7DF1E; /* Cor do JavaScript */
}

.sql-icon {
    color: #F29111; /* Cor do SQL */
}

.github-icon {
    color: var(--white-color); /* Cor do GitHub */
}

.postgresql-icon {
    color: #336791; /* Cor do PostgreSQL */
}

.html-icon {
    color: #E34F26; /* Cor do HTML */
}

.css-icon {
    color: #1572B6; /* Cor do CSS */
}

.skill h4 {
    font-size: 2rem;
    color: var(--white-color);
}

#about-me .home-content {
    display: grid;
    grid-template-columns: 1.2fr 1.8fr; /* Ajusta proporção imagem/texto */
    gap: var(--gap); /* Mantém o espaçamento uniforme */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh;
}


#about-me .home-img img {
    max-width: 100%;
    height: 50rem;
    border-radius: 30%;
    box-shadow: 0 0 10px 7px rgba(255, 204, 38, 0.6);
    margin: 20px;
    padding: 1px;
    animation: float 2s ease-in-out infinite;
    animation-delay: 0s, 1s;
}



/* Animations */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; 
        gap: 2rem; 
    }

    .project {
        height: auto; 
        padding: 1.5rem; 
    }

    .project h4 {
        font-size: 1.8rem; 
    }

    .project p {
        font-size: 1.4rem; 
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--gray-color);
        color: var(--yellow-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .close-menu {
        display: none;
    }

    .menu-spacing {
        display: none;
    }

    .home-content, #about-me .home-content {
        grid-template-columns: 1fr; /* Ajusta layout para uma coluna */
        gap: 2rem;
    }

    .home-img img, #about-me .home-img img {
        max-width: 80%; /* Reduz o tamanho da imagem */
        margin: 0 auto; /* Centraliza a imagem */
    }

    .home-text-content, #about-me .home-text-content {
        text-align: center; /* Centraliza o texto */
    }

    h1, h2, h3 {
        font-size: 3rem; /* Reduz o tamanho dos títulos */
    }

    p {
        font-size: 1.6rem; /* Reduz o tamanho do texto */
    }

    .contact-btn {
        flex-direction: column; /* Botões ficam empilhados */
        gap: 1rem;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr); /* Ajusta o número de colunas */
    }
}



